<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.yeewoe.mopassion">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <!-- 高德定位 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>

    <application
        android:name="org.yeewoe.mopassion.MopaApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 高德定位wyw key -->
        <!-- release B3:79:D3:ED:15:EA:15:AE:90:8A:17:CE:50:CC:17:0D:A2:F8:03:E5 -->
        <!-- debug   31:C4:DF:82:B3:44:77:75:11:51:5B:D3:81:C2:91:26:B2:DF:FD:63 -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="10d2caa31963a6bf2d84c2b6c4f8cc76"/>

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="0b811c1177bddef89381c10ebdc6535f96eae00c"
            />

        <activity
            android:name="org.yeewoe.mopassion.app.auth.view.LauncherActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".app.auth.view.LoginActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".app.maintab.view.MainTabActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"/>

        <activity
            android:name=".app.auth.view.RegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"/>

        <activity
            android:name=".app.im.view.MopaChatActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".app.contact.view.UserDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"/>

        <activity
            android:name=".app.contact.view.UserEditActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"/>

        <activity
            android:name=".app.contact.view.ContactFollowerListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"/>
        <activity
            android:name=".app.contact.view.ContactFansListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"/>

        <activity
            android:name=".app.nearby.view.TrendPublishActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".app.nearby.view.TrendReviewActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".app.nearby.view.TrendDetailActivity"
                  android:screenOrientation="portrait" />

        <activity
            android:name=".app.nearby.view.UserTrendListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"/>

        <activity
            android:name=".app.setting.view.SettingMainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"/>
        <activity
            android:name=".app.help.view.HelpMainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"/>

        <activity
            android:name=".photo.ui.PhotoViewActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".app.web.view.WebBrowserActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"/>

        <!-- facebook -->
        <activity android:name="com.facebook.FacebookActivity"
                  android:configChanges=
                      "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
                  android:theme="@android:style/Theme.Translucent.NoTitleBar"
                  android:label="@string/app_name" />

        <receiver
            android:name="org.yeewoe.mopassion.receiver.NetChangeReceiver"
            android:exported="true">
            <intent-filter android:priority="@integer/priority_5">
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>

        <!-- <receiver android:name=".receiver.DummyReceiver" android:exported="true"> -->
        <!-- <intent-filter android:priority="999"> -->
        <!-- <action android:name="vivo.action.launcher.app.icon.badge" /> -->
        <!-- <action android:name="com.vivo.action.MESSAGE_REMIND" /> -->
        <!-- <action android:name="launcher.action.CHANGE_APPLICATION_NOTIFICATION_NUM" /> -->
        <!-- <action android:name="android.intent.action.SERVICE_STATE" /> -->
        <!-- <action android:name="android.intent.action.BADGE_COUNT_UPDATE" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->

        <service android:name=".service.SyncAppService"/>

        <!-- 定位需要的服务 -->
        <service android:name="com.amap.api.location.APSService"></service>

    </application>

</manifest>